<section id="mensagem">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="col p-0">
                    <h3 class="titulo float-left">Histórico</h3>
                </div>
                <div id="notificacoes" data-get="event/historico" data-realtime-get="historicoFuncao">
                    {{#.}}
                    <div class="notification-item" rel="{{id}}">
                        <div class="notification-card{{#recebeu}} readed{{/recebeu}} no-select">
                            <a href="perfil{{#perfil_profissional}}Profissional{{/perfil_profissional}}{{^perfil_profissional}}Usuario{{/perfil_profissional}}/{{usuarios_id}}" class="notification-content-left">
                                <img src="{{imagem.urls.medium}}" width="50" height="50" class="imagem-notificacao"/>
                            </a>
                            <a href="perfil{{#perfil_profissional}}Profissional{{/perfil_profissional}}{{^perfil_profissional}}Usuario{{/perfil_profissional}}/{{usuarios_id}}" class="notification-content-right">
                                <div class="notification-content notification-title font-weight-bold h6 mb-0">
                                    {{nome}}
                                </div>
                                <div class="history-time mb-1 font-weight-bold pl-3">{{data}}</div>
                                <div class="notification-content notification-desc" style="color:#000">
                                    {{canal}}
                                </div>
                            </a>
                            {{^avaliou}}
                            <a href="avaliacao/{{^isProfissional}}{{cliente}}{{/isProfissional}}{{#isProfissional}}{{profissional}}{{/isProfissional}}" class="btn theme historico-btn">avaliar</a>
                            {{/avaliou}}
                        </div>
                        <i class="material-icons" onclick="closeHistory({{id}})">delete</i>
                    </div>
                    {{/.}}
                    <script>
                        new TouchLeft($(".notification-card"), -70, 50, 0);
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>