<div class="container">
    <div class="row">
        <h3 class="titulo col-12 float-left pl-0 mb-3">Histórico</h3>
        <div class="col-12">
            <div id="notificacoes" data-get="historico" data-realtime-get="historicoFuncao">
                {{#.}}
                    <div class="notification-item" rel="{{id}}">
                        <div class="notification-card{{#recebeu}} readed{{/recebeu}} no-select">
                            <a href="perfilProfissional" class="notification-content-right">
                                <div class="pl-0 notification-content notification-title font-weight-bold h6 mb-0">
                                    {{problema}}
                                </div>
                                <div class="pl-0 history-time mb-1 font-weight-bold">{{data}}</div>
                            </a>
                            {{#atendido}}
                                <div class="badge theme historico-btn py-2">atendido</div>
                            {{/atendido}}
                            {{^atendido}}
                                <div class="badge historico-btn py-2" style="background: coral;color:#FFFFFF">não
                                    atendido
                                </div>
                            {{/atendido}}
                        </div>
                        <i class="material-icons" onclick="closeHistory({{id}})">delete</i>
                    </div>
                {{/.}}
                <script>
                    new TouchLeft($(".notification-card"), -70, 50, 0);
                </script>
            </div>
        </div>
    </div>
</div>