.notification-item {
    position: relative;
    padding-bottom: 2px;
    float: left;
    width: 100%;
}

.notification-item > i.material-icons {
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 25px);
    right: 10px;
    color: #e26a6a;
    z-index: 1;
}

.notification-card {
    position: relative;
    border: solid 1px #ddd;
    background: #ffffff !important;
    color: #555555 !important;
    border-radius: 5px;
    float: left;
    width: 100%;
    box-shadow: 1px 1px 11px -8px black;
    transition: all ease .15s;
    z-index: 2;
    padding: 16px 15px 8px;
}

.notification-card.readed {
    box-shadow: none;
    border: solid 1px #eee;
}

.notification-card.readed img {
    opacity: .6;
}

.notification-content-left {
    float: left;
    width: 50px;
}

.notification-content-right {
    float: left;
    width: calc(100% - 50px);
    margin-top: -2px;
    margin-bottom: 5px;
}

.notification-title {
    margin-bottom: 5px !important;
    font-size: 15px !important;
    max-height: 38px !important;
    overflow: hidden !important;
    color: #555555 !important;
}

.notification-desc {
    font-size: 12px;
    line-height: 15px;
    max-height: 46px;
    overflow: hidden;
}

.notification-content {
    float: left;
    width: 100%;
    padding-left: 15px;
}

.imagem-notificacao {
    border-radius: 50px;
}

.notification-item.activeRemove > .notification-card {
    transform: translateX(-170px);
    opacity: 0;
}

.notification-item.activeRemove > i.material-icons {
    opacity: 0;
}

.note-time {
    width: 100%;
    font-size: 9px;
    color: #999999;
    text-align: center;
    line-height: 12px;
    padding-top: 5px;
    float: left;
}

.titulo {
    font-size: 24px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.history-time {
    width: 100%;
    font-size: 10px;
    color: #999;
    line-height: 12px;
    padding-top: 1px;
    float: left;
}

.notification-content-left {
    margin-top: -2px;
}

.notification-content-right {
    width: calc(100% - 135px)!important;
}

.historico-btn {
    padding: 4px 15px;
    float: right;
    margin-top: 6px;
}

.btn-notify {
    border: none;
    border-radius: 7px;
    padding: 5px 10px;
    margin-top: 22px;
    color: white;
    box-shadow: 1px 1px 11px -8px black;
}

.mdi-arrow-left {
    font-size: 32px;
    margin-left: -4px;
}

.mt-6 {
    margin-top: 2px;
}

.texto {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 18px;
    float:left;
    width: 100%;
}

#notificacao figure img {
    max-width: 280px;
}

h6 {
    font-weight: 600;
}