body {
    font-family: 'Roboto', sans-serif !important;
}

#perfil figure img {
    width: 58px;
    height: 58px;
    border-radius: 50%;
}

.form-group {
    margin-top: 10px !important;
    margin-bottom: -4px !important;
}

#imagem_de_perfil_preview {
    float: left;
}

#imagem_de_perfil_preview.image {
    padding: 0 !important;
    overflow: hidden;
}

#imagem_de_perfil_preview.image > img{
    float: left;
    width: 100%;
}


/* imagens */

.Neon {
    font-family: sans-serif;
    font-size: 14px;
    color: #494949;
    position: relative;
}

.Neon * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bordas {
    display: block;
    width: 95px;
    height: 95px;
    padding: 33px 6px 6px 8px;
    color: #97A1A8;
    background: #fff;
    border: 2px dashed #CACACA;
    text-align: center;
    border-radius: 50px;
    -webkit-transition: box-shadow 0.3s, border-color 0.3s;
    -moz-transition: box-shadow 0.3s, border-color 0.3s;
    transition: box-shadow 0.3s, border-color 0.3s;
}

.bordas .Neon-input-icon {
    font-size: 48px;
    margin-top: -10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Neon-input-text h3 {
    margin: 0;
    font-size: 18px;
}

.Neon-input-text span {
    font-size: 32px;
    margin-left: -15px;
}

.carregar-foto {
    z-index: 999;
    opacity: 0;
    position: absolute;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

#change-image {
    float: left;
    border: none;
    border-radius: 4px;
    background: #ffffff;
    color: #777777;
    font-size: 13px;
    padding: 8px 20px;
    margin: 30px;
}

label {
    display: inline-block;
    margin-bottom: 0 !important;
    color: #707070 !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    padding-bottom: 7px;
}

.form-control {
    padding: .375rem .0rem .375rem 7px !important;
    font-size: 14px !important;
    line-height: 1.5;
    color: #000000 !important;
    border: 1px solid #CECECE;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-radius: 0 !important;
    margin-top: -7px !important;
    font-weight: 500 !important;
}

.form-control:focus {
    background: #ffffff!important;
}

#perfil .editar {
    background-color: transparent;
    border: none;
    font-size: 12px;
    font-weight: normal;
    margin-top: 15px;
}

.mdi-arrow-left {
    font-size: 32px;
}

#perfil .titulo {
    font-weight: bold;
    font-size: 24px;
}

.col-perfil {
    margin-left: 12px;
}

#perfil .todas-avaliacoes {
    margin-top: 10px;
}

#perfil.todas-avaliacoes a {
    color: #FF1967;
    font-weight: 500;
    font-size: 14px;
}

#perfil .estrelas .avaliacao-perfil {
    margin-left: 0%;
    margin-top: -20px;
}

#perfil .avaliacao-perfil {
    margin-left: 0%;
    margin-top: -16px;
}

ul.horizontal-list>li {
    float: left;
    color: #FF1967;
    font-size: 9px;
}

ul.horizontal-list>li:nth-last-child(1) {
    margin-left: 4px;
    font-weight: bold;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#formProfissional {
    margin-bottom: 50px;
}

.form-control:focus {
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-color: #ced4da !important;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #ffffff !important;
    opacity: 1;
}