{{#ajudas}}
    <div class="row">
        <div class="col-12 ajudatitulo" rel="{{id}}">
            <h2 class="titulo">{{titulo}}</h2>
        </div>
    </div>
    <div class="row ajudatextodiv" rel="{{id}}">
        <div class="col-12">
            <div class="texto ajudatexto" rel="{{id}}">
                {{descricao}}
            </div>
        </div>
    </div>
{{/ajudas}}