#ajuda .titulo {
    font-size: 20px;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 7px;
}

#ajuda .mdi-arrow-left {
    font-size: 32px;
    margin-left: -5px;
}

.ajudatextodiv {
    height: 0;
    overflow: hidden;
    transition: all ease .3s;
}

#ajuda .texto {
    font-size: 14px;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 50px;
}