<section id="avaliacao">
    <div class="container" data-db="avaliacao_prof" data-id='{"profissional": "{{URL.0}}", "autorpub": "{{USER.id}}"}'>
        <div class="row">
            <div class="col-12">
                <a href="#back" class="volta">
                    <i class="material-icons">arrow_back</i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{#0}}
                    <h2 class="titulo mb-2 mt-1" id="avaliacao-title">{{0.relationData.profissional.nome}}</h2>
                {{/0}}
                {{^0}}
                    <h2 class="titulo mb-2 mt-1" id="avaliacao-title" data-db="clientes"
                        data-id="{{URL.0}}">{{0.nome}}</h2>
                {{/0}}
            </div>
        </div>
        <div class="row sua-avaliacao mt-2">
            <div class="col-4">
                <div class="atendimento mt-2">Atendimento</div>
            </div>
            <div class="col-8">
                <div class="estrelas">
                    <input type="radio" id="at-cm-star-" name="at" value="" checked/>

                    <label for="at-cm-star-1">
                        <i class="material-icons">star</i>
                    </label>
                    <input type="radio" id="at-cm-star-1" name="at" value="1"/>
                    <label for="at-cm-star-2">
                        <i class="material-icons">star</i>
                    </label>
                    <input type="radio" id="at-cm-star-2" name="at" value="2"/>
                    <label for="at-cm-star-3">
                        <i class="material-icons">star</i>
                    </label>
                    <input type="radio" id="at-cm-star-3" name="at" value="3"/>
                    <label for="at-cm-star-4">
                        <i class="material-icons">star</i>
                    </label>
                    <input type="radio" id="at-cm-star-4" name="at" value="4"/>
                    <label for="at-cm-star-5">
                        <i class="material-icons">star</i>
                    </label>
                    <input type="radio" id="at-cm-star-5" name="at" value="5"/>
                </div>

            </div>
        </div>
        <div class="row sua-avaliacao">
            <div class="col-4 mt-1">
                <div class="atendimento mt-1">Qualidade</div>
            </div>
            <div class="col-8">
                <div class="estrelas">
                    <input type="radio" id="ql-cm-star-" name="ql" value="" checked/>
                    <label for="ql-cm-star-1">
                        <i class="material-icons">star</i>
                    </label>
                    <input type="radio" id="ql-cm-star-1" name="ql" value="1"/>
                    <label for="ql-cm-star-2">
                        <i class="material-icons">star</i>
                    </label>
                    <input type="radio" id="ql-cm-star-2" name="ql" value="2"/>
                    <label for="ql-cm-star-3">
                        <i class="material-icons">star</i>
                    </label>
                    <input type="radio" id="ql-cm-star-3" name="ql" value="3"/>
                    <label for="ql-cm-star-4">
                        <i class="material-icons">star</i>
                    </label>
                    <input type="radio" id="ql-cm-star-4" name="ql" value="4"/>
                    <label for="ql-cm-star-5">
                        <i class="material-icons">star</i>
                    </label>
                    <input type="radio" id="ql-cm-star-5" name="ql" value="5"/>
                </div>

            </div>
        </div>
        <div class="row sua-avaliacao">
            <div class="col-4 mt-2">
                <div class="atendimento">Preço justo</div>
            </div>
            <div class="col-8">
                <div class="estrelas">
                    <input type="radio" id="pj-cm-star-" name="pj" value="" checked/>
                    <label for="pj-cm-star-1">
                        <i class="material-icons">star</i>
                    </label>
                    <input type="radio" id="pj-cm-star-1" name="pj" value="1"/>
                    <label for="pj-cm-star-2">
                        <i class="material-icons">star</i>
                    </label>
                    <input type="radio" id="pj-cm-star-2" name="pj" value="2"/>
                    <label for="pj-cm-star-3">
                        <i class="material-icons">star</i>
                    </label>
                    <input type="radio" id="pj-cm-star-3" name="pj" value="3"/>
                    <label for="pj-cm-star-4">
                        <i class="material-icons">star</i>
                    </label>
                    <input type="radio" id="pj-cm-star-4" name="pj" value="4"/>
                    <label for="pj-cm-star-5">
                        <i class="material-icons">star</i>
                    </label>
                    <input type="radio" id="pj-cm-star-5" name="pj" value="5"/>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-4">
                <div id="avaliacao-atendimento">
                    <div class="row justify-content-center">
                        <div class="form-group col-12 col-lg-12">
                            <label class="avalicao-atendimento" for="comentario">como foi sua experiência?</label>
                            <textarea class="form-control" id="comentario" rows="6"
                                      name="feedbackTeste">{{0.comentario}}</textarea>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="form-group col-12 col-lg-6">
                            <button id="enviar" type="submit" onclick="enviar()" class="btn btn-primary">Enviar{{#0}}
                                Revisão{{/0}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
                {{#0}}
                    {{#atendimento}}
                    setTimeout(function () {
                        $("#at-cm-star-" + ( {{atendimento}} / 10000000)).prop("checked", !0);
                        $("#ql-cm-star-" + ( {{qualidade}} / 10000000)).prop("checked", !0);
                        $("#pj-cm-star-" + ( {{preco_justo}} / 10000000)).prop("checked", !0);
                    }, 100);
                    setTimeout(function () {
                        $("#at-cm-star-" + ( {{atendimento}} / 10000000)).prop("checked", !0);
                        $("#ql-cm-star-" + ( {{qualidade}} / 10000000)).prop("checked", !0);
                        $("#pj-cm-star-" + ( {{preco_justo}} / 10000000)).prop("checked", !0);
                    }, 250);
                    setTimeout(function () {
                        $("#at-cm-star-" + ( {{atendimento}} / 10000000)).prop("checked", !0);
                        $("#ql-cm-star-" + ( {{qualidade}} / 10000000)).prop("checked", !0);
                        $("#pj-cm-star-" + ( {{preco_justo}} / 10000000)).prop("checked", !0);
                    }, 500);
                    setTimeout(function () {
                        $("#at-cm-star-" + ( {{atendimento}} / 10000000)).prop("checked", !0);
                        $("#ql-cm-star-" + ( {{qualidade}} / 10000000)).prop("checked", !0);
                        $("#pj-cm-star-" + ( {{preco_justo}} / 10000000)).prop("checked", !0);
                    }, 1000);
                    {{/atendimento}}
                {{/0}}
        </script>
    </div>
</section>