<section id="comprar-moeda">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="#back" class="volta">
                    <i class="material-icons">arrow_back</i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class="titulo text-left">Comprar moedas</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="texto">
                    Adquira mais moedas e garanta que sempre estará disponível para seus clientes.
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-6 col-md-3 col-lg-4">
                <div class="card bloco text-center">
                    <div>
                        <img class="imagem" src="{{home}}public/assets/img/moedas.png" alt="">
                    </div>
                    <div>
                        <h4 class="subtitulo">10 Moedas</h4>
                    </div>
                    <div>
                        <button type="submit" onclick="comprar(20)" class="btn btn-primary">R$ 20,00</button>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 col-lg-4">
                <div class="card bloco text-center">
                    <div>
                        <img class="imagem" src="{{home}}public/assets/img/moedas.png" alt="">
                    </div>
                    <div>
                        <h4 class="subtitulo">25 Moedas</h4>
                    </div>
                    <div>
                        <button type="submit" onclick="comprar(40)" class="btn btn-primary">R$ 40,00</button>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 col-lg-4">
                <div class="card bloco text-center">
                    <div>
                        <img class="imagem" src="{{home}}public/assets/img/moedas.png" alt="">
                    </div>
                    <div>
                        <h4 class="subtitulo">50 Moedas</h4>
                    </div>
                    <div>
                        <button type="submit" onclick="comprar(70)" class="btn btn-primary">R$ 70,00</button>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 col-lg-4">
                <div class="card bloco text-center">
                    <div>
                        <img class="imagem" src="{{home}}public/assets/img/moedas.png" alt="">
                    </div>
                    <div>
                        <h4 class="subtitulo">100 Moedas</h4>
                    </div>
                    <div>
                        <button type="submit" onclick="comprar(100)" class="btn btn-primary">R$ 100,00</button>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 col-lg-4">
                <div class="card bloco text-center">
                    <div>
                        <img class="imagem" src="{{home}}public/assets/img/moedas.png" alt="">
                    </div>
                    <div>
                        <h4 class="subtitulo">200 Moedas</h4>
                    </div>
                    <div>
                        <button type="submit" onclick="comprar(180)" class="btn btn-primary">R$ 180,00</button>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 col-lg-4">
                <div class="card bloco text-center">
                    <div>
                        <img class="imagem" src="{{home}}public/assets/img/moedas.png" alt="">
                    </div>
                    <div>
                        <h4 class="subtitulo">500 Moedas</h4>
                    </div>
                    <div>
                        <button type="submit" onclick="comprar(400)" class="btn btn-primary">R$ 400,00</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>