.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
    background: initial !important;
}

#core-header-nav-bottom {
    z-index: 1100;
}

#core-menu-custom-bottom li.active i, #core-menu-custom-bottom li.active div {
    color: #2D7AFF !important;
}

.volta > i {
    font-size: 35px;
    padding: 15px 10px 10px;
    margin-left: -15px;
    color: #222222;
}

.avaliacao-card {
    float: left;
    width: auto;
}

.avaliacao-card .material-icons {
    font-size: 13px !important;
}

.avaliacao-card > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.avaliacao-card > ul.horizontal-list > li {
    float: left;
    color: #FF1967;
    font-size: 11px;
}

.avaliacao-card > ul.horizontal-list > li > i {
    color: #bbbbbb;
}

.avaliacao-card > ul.horizontal-list > li > i.active {
    color: #FF1967;
}

.avaliacao-card > ul.horizontal-list > li:nth-last-child(1) {
    font-weight: bold;
    margin-left: 4px;
}

#galeria_preview_parent {
    overflow-x: auto;
    overflow-y: hidden;
}

#galeria_preview_parent::-webkit-scrollbar {
    height: 0;
}

#galeria_preview {
    width: max-content;
}

#galeria_preview > img {
    max-height: 100%;
    float: left;
    width: auto;
    padding: 2px;
}
#galeria_preview > img:first-of-type {
    padding-left: 0;
}
#galeria_preview > img:last-of-type {
    padding-right: 0;
}