body {
    font-family: 'Roboto', sans-serif !important;
    background: #F1F0F5;
}

.titulo {
    font-size: 24px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 30px;
}

.notification-card {
    background: #ffffff;
    color: #555555;
    border-radius: 5px;
    float: left;
    width: 100%;
    box-shadow: 1px 1px 11px -8px black;
}

.btn-notify {
    border: none;
    border-radius: 7px;
    padding: 5px 10px;
    margin-top: 22px;
    color: white;
    box-shadow: 1px 1px 11px -8px black;
}

.mdi-arrow-left {
    font-size: 32px;
    margin-left: -4px;
}

.mt-6 {
    margin-top: 2px;
}

.texto {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 18px;
    float:left;
    width: 100%;
}

#notificacao figure img {
    max-width: 280px;
}

.imagem-notificacao {
    border-radius: 50px;
}

h6 {
    font-weight: 600;
}