#perfil-cliente {
    padding-bottom: 20px;
}

#perfil-cliente .nome {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
    color: #303030;
    float: left;
    width: 100%;
}

#perfil-cliente .pedido-concluido {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    margin-top: 5px;
}

#perfil-cliente .avaliacoes figure img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
}

#perfil-cliente .avaliacao .titulo {
    font-weight: 500;
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 14px;
}

#perfil-cliente .titulo-endereco {
    font-size: 16px;
    font-weight: bold;
    margin-top: 17px;
}

#perfil-cliente .endereco {
    font-size: 14px;
    font-weight: normal;
    margin-top: 1px;
    margin-bottom: 8px;
}

#perfil-cliente .mapa iframe {
    width: 100%;
    height: 130px;
    border-radius: 5px;
}

#perfil-cliente .nomes {
    font-weight: bold;
    font-size: 14px;
}

#perfil-cliente .data {
    font-size: 10px;
    font-weight: 500;
    color: #CBCBCB;
    margin-top: 2px;
    margin-bottom: -13px;
}

#perfil-cliente .texto {
    font-size: 12px;
    margin-top: 2px;
}

#perfil-cliente .todas-avaliacoes {
    margin-top: 10px;
    margin-bottom: 40px;
}

#perfil-cliente .todas-avaliacoes a {
    color: #FF1967;
    font-weight: 600;
    font-size: 14px;
}

#perfil-cliente .estrelas .avaliacao-perfil {
    margin-left: -2px;
    margin-top: 15px;
}

#perfil-cliente .avaliacao-perfil {
    margin-left: 40%;
    margin-top: -24px;
}