<section id="comprar-moeda">
    <div class="container">
        <h5 class="text-center mt-4">Parabéns!<br> Você agora é um profissional</h5>
        <div class="row justify-content-center mt-5 pt-3">
            <lottie-player style="height: 200px;margin-top: -100px;" src="{{home}}public/assets/lottie/coin.json" background="transparent" speed="1" autoplay></lottie-player>
            <h2 class="col-12 titulo mt-0 mb-0">Você recebeu 10 moedas</h2>
        </div>
        <div class="row mb-5 pb-4">
            <div class="col-12">
                <div class="texto text-center mt-3">
                    Você gasta 1 moeda quando entra em contato com um cliente! Caso suas moedas acabem, basta recarregar!
                </div>
            </div>
        </div>
        <a href="perfil" class="btn theme float-right">Continuar</a>
    </div>
</section>