body {
    font-family: 'Roboto', sans-serif !important;
}

.titulo {
    font-size: 24px;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 24px;
}

.mdi-arrow-left {
    font-size: 32px;
    margin-left: -4px;
}

.texto {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin-bottom: 14px;
}

#criar-conta {
    padding-bottom: env(safe-area-inset-bottom);
}