<section id="perfil-cliente">
    <div class="container" data-db="clientes" data-id="{{URL.0}}">
        <div class="row">
            <a href="#back" data-animation="back" class="col-3 volta">
                <i class="material-icons">arrow_back</i>
            </a>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div id="clienteImagem" style="background-image: url('{{#0.perfil_profissional}}{{imagem_de_perfil.0.urls.medium}}{{/0.perfil_profissional}}{{^0.perfil_profissional}}{{#0.imagem}}{{urls.medium}}{{/0.imagem}}{{^0.imagem}}{{home}}{{vendor}}site-maocheia/public/assets/svg/account.svg{{/0.imagem}}{{/0.perfil_profissional}}')"></div>
                <h2 class="nome" id="clienteNome">{{0.nome}}</h2>
                <input type="hidden" id="idUsuario" value="{{0.usuarios_id}}" />
                <input type="hidden" id="profissional" value="{{#0.perfil_profissional}}1{{/0.perfil_profissional}}{{^0.perfil_profissional}}0{{/0.perfil_profissional}}" />
                <div class="col-12 align-center avaliacao-perfil avaliacao-card">
                    <ul class="horizontal-list" id="avaliacaop" data-rel="{{0.avaliacao}}"></ul>
                </div>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-12">
                <div class="pedido-concluido">
                    Este cliente tem 25% dos pedidos concluídos
                </div>
            </div>
        </div>-->
        <div class="row">
            <div class="col-12 pb-4">
                <div class="row">
                    <div class="col-12">
                        <h5 class="titulo-endereco text-center" id="section-avaliacoes-title">Avaliações</h5>
                    </div>
                </div>

                <div id="section-avaliacoes"></div>

                <div class="row hide" id="section-avaliacoes-more">
                    <div class="col-12">
                        <div class="todas-avaliacoes">
                            <a href="avaliacoes/{{id}}" data-animation="forward">Ver todas as avaliações</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>