<section id="perfil-cliente">
    <div class="container" data-db="usuarios" data-function="usuarioFuncao" data-id="{{URL.0}}">
        <div class="row">
            <a href="#back" data-animation="back" class="col-3 volta">
                <i class="material-icons">arrow_back</i>
            </a>
        </div>
        <div class="row mb-1">
            <div class="col-12 text-center">
                <div id="clienteImagem" style="background-image: url('{{#0.relationData.clientes.perfil_profissional}}{{imagem_de_perfil.0.urls.medium}}{{/0.relationData.clientes.perfil_profissional}}{{^0.relationData.clientes.perfil_profissional}}{{#0.imagem}}{{urls.medium}}{{/0.imagem}}{{^0.imagem}}{{home}}public/assets/svg/account.svg{{/0.imagem}}{{/0.relationData.clientes.perfil_profissional}}')"></div>
                <h2 class="nome" id="clienteNome">{{0.nome}}</h2>
                <div class="col-12 align-center avaliacao-perfil avaliacao-card">
                    <ul class="horizontal-list" id="avaliacaop">{{0.notaFinal}}</ul>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6 text-center pr-2 pl-2">
                <div class="card">
                    <h6 class="col-12 card-nota pt-3 pr-1 pl-1 font-weight-bold">Avaliação</h6>
                    <p class="col-12 align-center card-value">
                        {{0.relationData.clientes.avaliacao}} <i class="material-icons">star</i>
                    </p>
                </div>
            </div>
        </div>

        <!--<div class="row">
            <div class="col-12">
                <div class="pedido-concluido">
                    Este cliente tem 25% dos pedidos concluídos
                </div>
            </div>
        </div>-->
        <div class="row">
            <div class="col-12 pb-4">
                <div class="row">
                    <div class="col-12">
                        <h5 class="titulo-endereco" id="section-avaliacoes-title">avaliações</h5>
                    </div>
                </div>

                <div id="section-avaliacoes" data-db="avaliacao" data-realtime-db="avaliacoesFuncao" data-id='{"usuario": "{{0.id}}"}'>
                    {{#.}}
                        <div class="row no-gutters card-avaliacao">
                            <div class="avaliacoes" style="background-image: url({{imagem_do_cliente}});"></div>
                            <div class="col-perfil">
                                <div class="nomes">
                                    {{relationData.autorpub.nome}}
                                </div>
                                <div class="data">
                                    {{data}}
                                </div>
                                <div class="estrelas">
                                    <div class="avaliacao-comment avaliacao-card">
                                        <ul class="horizontal-list">
                                            <li><i class="material-icons{{#star.avaliacao_star1}} active{{/star.avaliacao_star1}}">star</i></li>
                                            <li><i class="material-icons{{#star.avaliacao_star2}} active{{/star.avaliacao_star2}}">star</i></li>
                                            <li><i class="material-icons{{#star.avaliacao_star3}} active{{/star.avaliacao_star3}}">star</i></li>
                                            <li><i class="material-icons{{#star.avaliacao_star4}} active{{/star.avaliacao_star4}}">star</i></li>
                                            <li><i class="material-icons{{#star.avaliacao_star5}} active{{/star.avaliacao_star5}}">star</i></li>
                                            <li> {{star.avaliacao}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <p class="texto mb-0">
                                    {{comentario}}
                                </p>
                            </div>
                        </div>
                    {{/.}}
                </div>

                <div class="row hide" id="section-avaliacoes-more">
                    <div class="col-12">
                        <div class="todas-avaliacoes">
                            <a href="avaliacoes/{{id}}" data-animation="forward">Ver todas as avaliações</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>