<!--loader start-->
<div id="preloader" style="display: none;">
    <div class="loader1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!--loader end-->

<!--header section start-->
<header class="header">
    <!--start navbar-->
    <nav class="navbar navbar-expand-lg fixed-top bg-transparent">
        <div class="container">
            <a class="navbar-brand" href="index-5.html">
                <img src="public/view/landing/assets/logowhite.png" width="180" alt="logo" class="img-fluid">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-menu"></span>
            </button>
            <div class="collapse navbar-collapse h-auto" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto menu">

                    <ul class="sub-menu">
                        <li><a href="index-5.html#">Login &amp; Signup</a>
                            <ul class="sub-menu">
                                <li><a href="basic-login.html">Login Page 1</a></li>
                                <li><a href="login.html">Login Page 2</a></li>
                                <li><a href="basic-sign-up.html">Signup Page 1</a></li>
                                <li><a href="sign-up.html">Signup Page 2</a></li>
                                <li><a href="password-reset.html">Reset Password</a></li>
                                <li><a href="change-password.html">Change Password</a></li>
                            </ul>
                        </li>
                        <li><a href="index-5.html#">Utilities</a>
                            <ul class="sub-menu">
                                <li><a href="download.html">Download Page</a></li>
                                <li><a href="review.html">Review Page</a></li>
                                <li><a href="faq.html">FAQ Page</a></li>
                                <li><a href="404.html">404 Page</a></li>
                                <li><a href="coming-soon.html">Coming Soon</a></li>
                                <li><a href="thank-you.html">Thank You Page</a></li>
                            </ul>
                        </li>
                        <li><a href="index-5.html#">Teams <span
                                class="badge color-1 color-1-bg custom-badge"> New</span></a>
                            <ul class="sub-menu">
                                <li><a href="team.html">Team Page</a></li>
                                <li><a href="team-single.html">Team Single Page</a></li>
                            </ul>
                        </li>
                        <li><a href="index-5.html#">Our Blog <span
                                class="badge color-1 color-1-bg custom-badge"> New</span></a>
                            <ul class="sub-menu">
                                <li><a href="blog-default.html">Blog Default</a></li>
                                <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                <li><a href="blog-single-right-sidebar.html">Blog Details With Sidebar</a></li>
                            </ul>
                        </li>
                        <li><a href="partner.html">Our Partner <span
                                class="badge color-1 color-1-bg custom-badge">New</span></a></li>
                        <li><a href="project-details.html">Project Details <span
                                class="badge color-1 color-1-bg custom-badge">New</span></a></li>
                        <li><a href="services-details.html">Services Details <span
                                class="badge color-1 color-1-bg custom-badge">New</span></a></li>

                    </ul>
                    </li>
                    <li><a href="#oque" class="page-scroll">O que é</a></li>
                    <li><a href="#features" class="page-scroll">Como funciona</a></li>
                    <li><a href="#download" class="page-scroll">Baixe agora</a></li>
                    <li><a href="#reviews" class="page-scroll">Feedbacks</a></li>

                </ul>
            </div>
        </div>
    </nav>
</header>
<!--header section end-->


<!--body content wrap start-->
<div class="main">

    <!--hero section start-->
    <section class="hero-equal-height gradient-overlay pt-100 pb-5"
             style="background: url('public/view/landing/img/hero-bg-2.jpg')no-repeat center center / cover">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-7 col-lg-6">
                    <div class="hero-content-left position-relative z-index text-white my-lg-0 my-md-5 my-sm-5 my-5">

                        <h1 class="text-white">Um jeito fácil de contratar serviços </h1>
                        <p class="lead">Conectando Clientes e profissionais.</p>

                        <a href="https://play.google.com/store/apps/details?id=app.maocheia.net" target="_blank"
                           class="btn solid-white-btn animated-btn">Baixe o app</a>

                    </div>
                </div>
                <div class="col-md-5 col-lg-6">
                    <div class="hero-img-right text-center position-relative z-index">
                        <img src="public/view/landing/assets/image-14.png" alt="app" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <div class="shape-bottom">
            <img src="public/view/landing/assets/hero-shape-bottom.svg" alt="shape" class="bottom-shape img-fluid">
        </div>
    </section>
    <!--hero section end-->

    <!--Apresentação inicio-->
    <section id="how-it-work" class="work-process-new ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-heading text-center">
                        <h2>Comodidade ao alcance de suas mãos</h2>
                        <p>Busque por diversos serviços, peça orçamentos gratuitos e converse com os profissionais para
                            agendar o atendimento!

                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="work-process-wrap">
                        <div class="single-work-process mt-lg-5 mt-md-5 mt-sm-5 mt-5">
                            <div class="work-process-icon-wrap color-1-bg rounded">
                                <i class="ti-heart icon-md color-1"></i>
                            </div>
                            <span class="work-process-divider"></span>
                            <div class="work-process-content mt-4">
                                <h5>Facilidade e conforto</h5>
                                <p>Profissionais e clientes na palma da sua mão, aonde você estiver. </p>
                            </div>
                        </div>
                        <div class="single-work-process mt-lg-5 mt-md-5 mt-sm-5 mt-5">
                            <div class="work-process-icon-wrap color-2-bg rounded">
                                <i class="ti-comments icon-md color-2"></i>
                            </div>
                            <span class="work-process-divider"></span>
                            <div class="work-process-content mt-4">
                                <h5>Contato direto</h5>
                                <p>Converse e negocie diretamente, sem intermediadores, sem taxas e sem burocracia. </p>
                            </div>
                        </div>
                        <div class="single-work-process mt-lg-5 mt-md-5 mt-sm-5 mt-5">
                            <div class="work-process-icon-wrap color-3-bg rounded">
                                <i class="ti-star icon-md color-3"></i>
                            </div>
                            <span class="work-process-divider"></span>
                            <div class="work-process-content mt-4">
                                <h5>Qualidade e satisfação
                                </h5>
                                <p>Avaliação e comentários de quem já usou o serviço para trazer mais segurança na sua
                                    escolha. </p>
                            </div>
                        </div>
                        <div class="single-work-process mt-lg-5 mt-md-5 mt-sm-5 mt-5">
                            <div class="work-process-icon-wrap color-4-bg rounded">
                                <i class="ti-money icon-md color-4"></i>
                            </div>
                            <span class="work-process-divider"></span>
                            <div class="work-process-content mt-4">
                                <h5>Ganhe dinheiro</h5>
                                <p>Mais barato para quem contrata, mais dinheiro para quem é contratado, sem empresas ou
                                    taxas de intermediação. </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Apresentação final-->

    <!--Como funciona inicio-->
    <section id="oque" class="ptb-75">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-7 col-lg-7">
                    <div class="img-wrap">
                        <img src="public/view/landing/assets/how-work.png" alt="how work" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-5 col-lg-5">
                    <div class="promo-content-wrap">
                        <h2>O que é o mão cheia?</h2>
                        <p class="lead">O mão cheia é um aplicativo de serviços que conecta clientes a profissionais.
                            Através da nossa plataforma, transformamos o processo de contratação de prestadores de
                            serviços em algo totalmente digital - do pedido de orçamentos até o pagamento depois da
                            realização do serviço.</p>

                        <a href="https://play.google.com/store/apps/details?id=app.maocheia.net" target="_blank"
                           class="btn solid-btn animated-btn">Comece agora</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--como funciona final-->

    <!--Veja como é fácil inicio-->
    <section id="features" class="feature-tab-section ptb-100 gray-light-bg2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="feature-content-wrap">
                        <ul class="nav nav-tabs feature-tab justify-content-center border-bottom-0" data-tabs="tabs">
                            <li class="nav-item">
                                <a class="nav-link active h6 d-flex align-items-center" href="#tab6-1"
                                   data-toggle="tab">
                                    <span class="ti-location-pin d-inline-block color-7 mr-2 icon-sm p-1"></span>
                                    Endereço
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link h6 d-flex align-items-center" href="#tab6-2" data-toggle="tab">
                                    <span class="ti-hummer d-inline-block color-7 mr-2 icon-sm p-1"></span>
                                    Categoria
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link h6 d-flex align-items-center" href="#tab6-3" data-toggle="tab">
                                    <span class="ti-thumb-up d-inline-block color-7 mr-2 icon-sm p-1"></span>
                                    Profissional
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link h6 d-flex align-items-center" href="#tab6-4" data-toggle="tab">
                                    <span class="ti-comments-smiley d-inline-block color-7 mr-2 icon-sm p-1"></span>
                                    Contato
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content feature-tab-content">
                            <div class="tab-pane active" id="tab6-1">
                                <div class="row align-items-center justify-content-between pt-5">
                                    <div class="col-md-6 col-lg-6">
                                        <div id=download class="tab-content-wrap">
                                            <span class="h1 display-4 color-secondary font-weight-bold mb-3 d-block">01.</span>
                                            <h3>Sua localização</h3>
                                            <p>Defina sua localização e encontre os profissionais próximos a você.
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a
                                                mattis elit. Nam pellentesque neque vel luctus fringilla. Nullam ac
                                                condimentum turpis. Donec scelerisque vestibulum turpis vel bibendum. In
                                                tincidunt erat magna, sit amet iaculis orci feugiat eget. Pellentesque
                                                ac mi et tellus aliquam condimentum.</p>


                                        </div>
                                    </div>
                                    <div class="col-md-5 col-lg-5">
                                        <div class="img-wrap text-center">
                                            <img src="public/view/landing/assets/localização2.svg" alt="feature"
                                                 class="img-fluid rounded">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab6-2">
                                <div class="row align-items-center justify-content-between pt-5">
                                    <div class="col-md-6 col-lg-6">
                                        <div class="tab-content-wrap">
                                            <span class="h1 display-4 color-secondary font-weight-bold mb-3 d-block">02.</span>
                                            <h3>Categoria do serviço</h3>
                                            <p>Busque pelo tipo de profissional que você precisa: eletricista,
                                                encanador, montador de móveis...
                                                Nullam nulla ipsum, pellentesque dapibus fermentum eu, porta eu nisi.
                                                Donec vel mi eros. Curabitur justo risus, blandit lacinia dui non,
                                                faucibus placerat leo. Nam rhoncus rutrum molestie. Donec tellus sem,
                                                congue vitae urna non, hendrerit semper ipsum.</p>

                                        </div>
                                    </div>
                                    <div class="col-md-5 col-lg-5">
                                        <div class="img-wrap text-center">
                                            <img src="public/view/landing/assets/profissional.svg" alt="feature"
                                                 class="img-fluid rounded" height="344" style="height: 344px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab6-3">
                                <div class="row align-items-center justify-content-between pt-5">
                                    <div class="col-md-6 col-lg-6">
                                        <div class="tab-content-wrap">
                                            <span class="h1 display-4 color-secondary font-weight-bold mb-3 d-block">03.</span>
                                            <h3>Escolha do profissional</h3>
                                            <p>Escolha o profissional que preferir de acordo com a faixa de preço,
                                                avaliações e comentários.
                                                In imperdiet interdum tellus, quis cursus odio euismod et. Donec varius
                                                porta ligula quis varius. Morbi ultricies leo id ex dictum, et congue mi
                                                ullamcorper. Interdum et malesuada fames ac ante ipsum primis in
                                                faucibus. Donec eleifend vel nibh vitae ullamcorper. </p>

                                        </div>
                                    </div>
                                    <div class="col-md-5 col-lg-5">
                                        <div class="img-wrap text-center">
                                            <img src="public/view/landing/assets/escolha.svg" alt="feature"
                                                 class="img-fluid rounded" height="344" style="height: 344px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab6-4">
                                <div class="row align-items-center justify-content-between pt-5">
                                    <div class="col-md-6 col-lg-6">
                                        <div class="tab-content-wrap">
                                            <span class="h1 display-4 color-secondary font-weight-bold mb-3 d-block">04.</span>
                                            <h3>Contato direto</h3>
                                            <p>Cliente e profissionais conversam diretamente, definindo valores e data
                                                para atendimento.
                                                Curabitur ultricies odio sed commodo dictum. Pellentesque in scelerisque
                                                purus. Phasellus non egestas massa. Ut vitae imperdiet nulla, quis
                                                lobortis eros. Fusce fringilla accumsan est, sed sodales risus tristique
                                                eget. Pellentesque congue feugiat libero eu sollicitudin. Sed rhoncus
                                                eleifend orci, sed sollicitudin sem pharetra non. </p>

                                        </div>
                                    </div>
                                    <div class="col-md-5 col-lg-5">
                                        <div class="img-wrap text-center">
                                            <img src="public/view/landing/assets/contato.svg" alt="feature"
                                                 class="img-fluid rounded" height="344" style="height: 344px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--Veja como é fácil final-->

    <!--Baixe o app inicio-->

    <section class="background-video-section"
             style="background: url('public/view/landing/img/hero-bg-1.jpg')no-repeat top center / cover">
        <div class="video-section-wrap">
            <div class="gradient-overlay ptb-100">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-9 col-lg-8">
                            <div class="section-heading text-center">
                                <h2 class="text-white">Baixe o aplicativo</h2>
                                <div class="row justify-content-center">
                                    <div class="col-12 col-lg-6" style="max-width: 255px">
                                        <div class="img-wrap">

                                            <a href="https://play.google.com/store/apps/details?id=app.maocheia.net"
                                               target="_blank"><img src="public/view/landing/assets/googleplay.png"
                                                                    alt="botão download" class="" width="230">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-6" style="max-width: 255px">
                                        <div class="img-wrap float-left">
                                            <img src="public/view/landing/assets/appstore.png" alt="botão download"
                                                 class="" width="230">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Baixe o app final-->

    <!--Comentários inicio-->

    <section id="reviews" class="testimonial-section ptb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-8">
                    <div class="section-heading mb-5 text-center">
                        <h2>O que dizem os usuários</h2>
                        <p class="lead">
                        </p>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <div class="testimonial-single shadow-sm gray-light-bg rounded p-4">
                        <blockquote>
                            Me inscrevi de forma rápida e fácil no aplicativo, e nunca mais fiquei sem serviço!

                        </blockquote>
                        <div class="client-ratting mt-2">
                            <ul class="list-inline">
                                <li class="list-inline-item"><span class="ti-star ratting-color"></span></li>
                                <li class="list-inline-item"><span class="ti-star ratting-color"></span></li>
                                <li class="list-inline-item"><span class="ti-star ratting-color"></span></li>
                                <li class="list-inline-item"><span class="ti-star ratting-color"></span></li>
                                <li class="list-inline-item"><span class="ti-star ratting-color"></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="client-info-wrap d-flex align-items-center mt-5">
                        <div class="client-img mr-3">
                            <img src="public/view/landing/assets/client-1.jpg" alt="client" width="60"
                                 class="img-fluid rounded-circle shadow-sm">
                        </div>
                        <div class="client-info">
                            <h5 class="mb-0">Júlio Cesar</h5>
                            <p class="mb-0">Pintor</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="testimonial-single shadow-sm gray-light-bg rounded p-4">
                        <blockquote>

                            Sempre precisei de bons profissionais, e sempre foi muito difícil encontrar, com o Mão cheia
                            não tenho mais problemas, é sempre fácil, rápido e com qualidade!

                        </blockquote>
                        <div class="client-ratting mt-2">
                            <ul class="list-inline">
                                <li class="list-inline-item"><span class="ti-star ratting-color"></span></li>
                                <li class="list-inline-item"><span class="ti-star ratting-color"></span></li>
                                <li class="list-inline-item"><span class="ti-star ratting-color"></span></li>
                                <li class="list-inline-item"><span class="ti-star ratting-color"></span></li>
                                <li class="list-inline-item"><span class="ti-star ratting-color"></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="client-info-wrap d-flex align-items-center mt-5">
                        <div class="client-img mr-3">
                            <img src="public/view/landing/assets/client-2.jpg" alt="client" width="60"
                                 class="img-fluid rounded-circle shadow-sm">
                        </div>
                        <div class="client-info">
                            <h5 class="mb-0">Ana Carolina</h5>
                            <p class="mb-0">Empresária</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="testimonial-single shadow-sm gray-light-bg rounded p-4">
                        <blockquote>

                            Venho usando o Mão cheia há 2 meses e já consigo trabalhar 100% no aplicativo!

                        </blockquote>
                        <div class="client-ratting mt-2">
                            <ul class="list-inline">
                                <li class="list-inline-item"><span class="ti-star ratting-color"></span></li>
                                <li class="list-inline-item"><span class="ti-star ratting-color"></span></li>
                                <li class="list-inline-item"><span class="ti-star ratting-color"></span></li>
                                <li class="list-inline-item"><span class="ti-star ratting-color"></span></li>
                                <li class="list-inline-item"><span class="ti-star ratting-color"></span></li>
                            </ul>

                        </div>
                    </div>
                    <div class="client-info-wrap d-flex align-items-center mt-5">
                        <div class="client-img mr-3">
                            <img src="public/view/landing/assets/client-3.jpg" alt="client" width="60"
                                 class="img-fluid rounded-circle shadow-sm">
                        </div>
                        <div class="client-info">
                            <h5 class="mb-0">João Carlos</h5>
                            <p class="mb-0">Eletricista</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--Comentários final-->


    <!--Saiba mais inicio-->
    <section id="screenshots" class="screenshots-section ptb-100 gray-light-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-8">
                    <div class="section-heading text-center mb-5">
                        <h2>Conheça o aplicativo</h2>
                        <p>Transforme a maneira como você realiza serviços na sua casa: com o mão cheia você tem acesso
                            a uma gama de profissionais, recebe orçamentos gratuitos e possui facilidade de
                            pagamento. </p>
                    </div>
                </div>
            </div>
            <!--start app screen carousel-->

            <div class="screen-slider-content mt-5">
                <div class="screenshot-frame"></div>
                <div class="screen-carousel owl-carousel owl-theme dot-indicator">
                    <img src="public/view/landing/assets/img01.jpg" class="img-fluid" alt="screenshots">
                    <img src="public/view/landing/assets/02.png" class="img-fluid" alt="screenshots">
                    <img src="public/view/landing/assets/03.png" class="img-fluid" alt="screenshots">
                    <img src="public/view/landing/assets/04.png" class="img-fluid" alt="screenshots">
                    <img src="public/view/landing/assets/05.png" class="img-fluid" alt="screenshots">
                    <img src="public/view/landing/assets/06.png" class="img-fluid" alt="screenshots">
                </div>
            </div>
        </div>
    </section>
    <!--Saiba mais final->


<!--footer section start-->
    <footer class="footer-section">
        <!--footer top start-->
        <div class="footer-top gradient-bg">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-12">
                        <div class="footer-nav-wrap text-white mb-0 mb-md-4 mb-lg-0">
                            <a class="d-block" href="index-5.html#"><img src="public/view/landing/assets/logowhite.png"
                                                                         alt="footer logo" width="150"
                                                                         class="img-fluid mb-1"></a>
                            <ul class="list-unstyled social-list mb-0">
                                <li class="list-inline-item"><a href="index-5.html#" class="rounded"><span
                                        class="ti-facebook white-bg color-2 shadow rounded-circle"></span></a></li>

                                <li class="list-inline-item"><a href="index-5.html#" class="rounded"><span
                                        class="ti-instagram white-bg color-2 shadow rounded-circle"></span></a></li>

                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-12">
                        <div class="footer-nav-wrap text-white">
                            <h5 class="text-white">Privacidade</h5>
                            <ul class="list-unstyled footer-nav-list mt-3">
                                <li><a href="https://maocheia.net/termos" target="_blank" class="text-foot"><span
                                        class="ti-angle-double-right"></span> Termos e Condiçoes de Uso</a></li>
                                <li><a href="https://maocheia.net/privacidade" target="_blank" class="text-foot"><span
                                        class="ti-angle-double-right"></span> Política de Privacidade</a></li>

                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-12">
                        <a href="https://play.google.com/store/apps/details?id=app.maocheia.net" target="_blank">
                            <img class="alignnone wp-image-8740 size-full"
                                 src="public/view/landing/assets/googleplay.png" alt="App Store" height="50">
                        </a>
                        <a href="link" target="_blank" rel="noopener noreferrer"> <img
                                class="alignnone size-full wp-image-827" src="public/view/landing/assets/appstore.png"
                                alt="" height="50">
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <!--footer top end-->


        <!--bottom to top button start-->
        <button class="scroll-top scroll-to-target" data-target="html">
            <span class="ti-angle-up"></span>
        </button>
        <!--bottom to top button end-->