<div class="row pl-2">
    <a href="#back" data-animation="back" class="col-12 volta">
        <i class="material-icons float-left pr-2">arrow_back</i>
        <h4 class="float-left py-3 mt-1 font-weight-bold">Qual a urgência?</h4>
    </a>
</div>
<div class="row justify-content-center m-0">
    <div class="container mt-3">
        <ul class="col-12">
            <li onclick="agendar(1)" class="row my-1 shadow rounded p-3">Urgente</li>
            <li onclick="agendar(2)" class="row my-1 shadow rounded p-3">O quanto antes</li>
            <li onclick="agendar(3)" class="row my-1 shadow rounded theme p-3">Para hoje</li>
            <li onclick="agendar(4)" class="row my-1 shadow rounded p-3">Essa semana</li>
            <li onclick="agendar(5)" class="row my-1 shadow rounded p-3">Não tenho pressa</li>
        </ul>
    </div>
</div>