.titulo {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

#fachada figure img {
    width: 100%;
    height: 188px;
}

#perfil-loja {
    display: block !important;
}

#perfil-loja figure img {
    width: 102px;
    height: 102px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 50%;
    margin-top: -70px;
    object-fit: cover;
}

#perfil-loja .nome {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: -14px;
}

#perfil-loja .localizacao,
#perfil-loja .telefone {
    font-size: 14px;
    color: #CECECE;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

#perfil-loja .site {
    margin-top: 6px;
}

#perfil-loja .ir-site {
    text-decoration: underline;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

#galeria {
    margin-top: 12px;
}

#galeria .titulo {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

#galeria .item figure img {
    border-radius: 5px;
    width: 143px;
    height: 101px;
}

#sobre .texto {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #303030;
}

#endereco {
    margin-top: 16px;
}

#endereco .endereco {
    font-size: 14px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    color: #303030;
    margin-bottom: 8px;
    margin-top: 5px;
}

#endereco iframe {
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    width: 100%;
    height: 130px;
}

#clientes {
    margin-top: 20px;
}

#clientes figure img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin: 0 auto;
}

#clientes .item {
    margin: 0 auto;
    text-align: center;
}

#clientes .cliente {
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    padding: 10px 0 10px 0;
}

#clientes .cliente .nome {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-top: -10px;
}

@media screen and (min-width: 768px) {
    #fachada figure img {
        width: 100%;
        height: 248px;
        object-fit: cover;
    }
    #endereco iframe {
        height: 230px;
    }
}

@media screen and (min-width: 1024px) {
    #fachada figure img {
        width: 100%;
        height: 348px;
        object-fit: cover;
    }
    #endereco iframe {
        height: 330px;
    }
}