<section id="perfil-cliente" data-get="getProfissional/{{PARAM.0}}" data-realtime-get>
    <div class="container">
        <div class="row">
            <a href="#back" data-animation="back" class="col-12 volta">
                <i class="material-icons float-left pr-2">arrow_back</i>
                <h4 class="float-left py-3 mt-1 font-weight-bold">{{nome}}</h4>
            </a>
        </div>
        <div class="row mb-1 mt-2">
            <div class="col-12 text-center">
                <div id="clienteImagem" class="shadow-sm" data-realtime-attr style="background-image: url('{{imagem}}')"></div>
            </div>
        </div>
        <div class="row mt-3 pl-2 pr-2">
            <div class="col-4 text-center pr-0">
                <div class="card">
                    <h6 class="col-12 card-nota pt-2 pr-1 pl-1 font-weight-bold">Comunicação</h6>
                    <p class="col-12 align-center card-value mb-2" data-realtime-html>
                        {{avaliacao}}
                    </p>
                </div>
            </div>
            <div class="col-4 text-center pr-2 pl-2">
                <div class="card">
                    <h6 class="col-12 card-nota pt-2 pr-1 pl-1 font-weight-bold">Qualidade</h6>
                    <p class="col-12 align-center card-value mb-2" data-realtime-html>
                        {{qualidade}}
                    </p>
                </div>
            </div>
            <div class="col-4 text-center pl-0">
                <div class="card">
                    <h6 class="col-12 card-nota pt-2 pr-1 pl-1 font-weight-bold">Preço</h6>
                    <p class="col-12 align-center card-value mb-2" data-realtime-html>
                        {{preco_justo}}
                    </p>
                </div>
            </div>
        </div>

        <!--<div class="row">
            <div class="col-12">
                <div class="pedido-concluido">
                    Este cliente tem 25% dos pedidos concluídos
                </div>
            </div>
        </div>-->
        <div class="row">
            <div class="col-12 pb-4">
                <div class="row">
                    <div class="col-12">
                        <h5 class="titulo-endereco" id="section-avaliacoes-title">avaliações</h5>
                    </div>
                </div>

                <div id="section-avaliacoes">
                    {{#avaliacoes}}
                        <div class="row no-gutters card-avaliacao">
                            <div class="avaliacoes" style="background-image: url({{imagem_do_cliente}});"></div>
                            <div class="col-perfil">
                                <div class="nomes">
                                    {{relationData.autorpub.nome}}
                                </div>
                                <div class="data">
                                    {{data}}
                                </div>
                                <div class="estrelas">
                                    <div class="avaliacao-comment avaliacao-card">
                                        <ul class="horizontal-list">
                                            <li>
                                                <i class="material-icons{{#star.avaliacao_star1}} active{{/star.avaliacao_star1}}">star</i>
                                            </li>
                                            <li>
                                                <i class="material-icons{{#star.avaliacao_star2}} active{{/star.avaliacao_star2}}">star</i>
                                            </li>
                                            <li>
                                                <i class="material-icons{{#star.avaliacao_star3}} active{{/star.avaliacao_star3}}">star</i>
                                            </li>
                                            <li>
                                                <i class="material-icons{{#star.avaliacao_star4}} active{{/star.avaliacao_star4}}">star</i>
                                            </li>
                                            <li>
                                                <i class="material-icons{{#star.avaliacao_star5}} active{{/star.avaliacao_star5}}">star</i>
                                            </li>
                                            <li> {{star.avaliacao}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <p class="texto mb-0">
                                    {{comentario}}
                                </p>
                            </div>
                        </div>
                    {{/avaliacoes}}
                </div>

                <div class="row hide" id="section-avaliacoes-more">
                    <div class="col-12">
                        <div class="todas-avaliacoes">
                            <a href="avaliacoes/{{id}}" data-animation="forward">Ver todas as avaliações</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>