{{#.}}
    <div class="col mb-2 pb-2 mensagens-card" data-rel="{{id}}">
        <div class="float-left imagem-perfil-mensagem" style="background-image: url('{{clienteData.imagem}}')"></div>
        <div class="float-left message-card-body">
            <h6 class="float-left col mb-0">
                <div class="col p-0 float-left message-card-name">
                    {{clienteData.nome}}
                </div>
                <small class="col p-0 float-left message-card-date">{{calendar}}</small>
            </h6>
            <div class="col float-left message-card-message">
                {{lastMessage}}
            </div>
        </div>
    </div>
{{/.}}