<svg id="arrowback-perfil" fill="#ffffff" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
     version="1.1" width="24" height="24" viewBox="0 0 24 24">
    <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"/>
</svg>
<div id="background-perfil-div">
    <div id="background-perfil" style="background-image: url('{{perfil_profissional.imagem_de_fundo}}')"></div>
</div>
<section id="perfil-cliente">

    <div class="container">
        <div class="row" id="touchableUp">
            <div class="col-12 text-center">
                <div id="imagem-perfil-div">
                    <div id="imagem-perfil"
                         style="background-image: url('{{perfil_profissional.imagem_de_perfil}}')"></div>
                </div>

                <div onclick="btnPrimary()" data-rel="{{usuarios_id}}" class="btn theme" id="serviceMensagem"></div>
                <!--<a data-preventDefault="1" href="//api.whatsapp.com/send?phone=55{{perfil_profissional.whatsapp}}"
                   data-animation="forward" class="btn contato" data-id="{{id}}" data-canal="whatsapp" id="serviceMensagem">
                    whatsapp
                </a>-->
            </div>
        </div>

        <div id="service-perfil-body">
            <div class="row">
                <div class="col-12">

                    <h2 class="nome">
                        {{nome}}
                        <div class="point-draw-medium{{#perfil_profissional.online}} online{{/perfil_profissional.online}}"
                             title="online"></div>
                    </h2>

                    <div class="profissional-subtitulo">
                        <svg xmlns="http://www.w3.org/2000/svg" style="margin-right: -8px"
                             xmlns:xlink="http://www.w3.org/1999/xlink"
                             fill="{{#perfil_profissional.preco_star1}}#FF1967{{/perfil_profissional.preco_star1}}{{^perfil_profissional.preco_star1}}#bbbbbb{{/perfil_profissional.preco_star1}}"
                             version="1.1" width="13" height="13" viewBox="2 2 20 20">
                            <path d="M7,15H9C9,16.08 10.37,17 12,17C13.63,17 15,16.08 15,15C15,13.9 13.96,13.5 11.76,12.97C9.64,12.44 7,11.78 7,9C7,7.21 8.47,5.69 10.5,5.18V3H13.5V5.18C15.53,5.69 17,7.21 17,9H15C15,7.92 13.63,7 12,7C10.37,7 9,7.92 9,9C9,10.1 10.04,10.5 12.24,11.03C14.36,11.56 17,12.22 17,15C17,16.79 15.53,18.31 13.5,18.82V21H10.5V18.82C8.47,18.31 7,16.79 7,15Z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" style="margin-right: -8px"
                             xmlns:xlink="http://www.w3.org/1999/xlink"
                             fill="{{#perfil_profissional.preco_star2}}#FF1967{{/perfil_profissional.preco_star2}}{{^perfil_profissional.preco_star2}}#bbbbbb{{/perfil_profissional.preco_star2}}"
                             version="1.1" width="13" height="13" viewBox="2 2 20 20">
                            <path d="M7,15H9C9,16.08 10.37,17 12,17C13.63,17 15,16.08 15,15C15,13.9 13.96,13.5 11.76,12.97C9.64,12.44 7,11.78 7,9C7,7.21 8.47,5.69 10.5,5.18V3H13.5V5.18C15.53,5.69 17,7.21 17,9H15C15,7.92 13.63,7 12,7C10.37,7 9,7.92 9,9C9,10.1 10.04,10.5 12.24,11.03C14.36,11.56 17,12.22 17,15C17,16.79 15.53,18.31 13.5,18.82V21H10.5V18.82C8.47,18.31 7,16.79 7,15Z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             fill="{{#perfil_profissional.preco_star3}}#FF1967{{/perfil_profissional.preco_star3}}{{^perfil_profissional.preco_star3}}#bbbbbb{{/perfil_profissional.preco_star3}}"
                             version="1.1" width="13" height="13" viewBox="2 2 20 20">
                            <path d="M7,15H9C9,16.08 10.37,17 12,17C13.63,17 15,16.08 15,15C15,13.9 13.96,13.5 11.76,12.97C9.64,12.44 7,11.78 7,9C7,7.21 8.47,5.69 10.5,5.18V3H13.5V5.18C15.53,5.69 17,7.21 17,9H15C15,7.92 13.63,7 12,7C10.37,7 9,7.92 9,9C9,10.1 10.04,10.5 12.24,11.03C14.36,11.56 17,12.22 17,15C17,16.79 15.53,18.31 13.5,18.82V21H10.5V18.82C8.47,18.31 7,16.79 7,15Z"/>
                        </svg>
                    </div>

                    <div class="avaliacao-perfil avaliacao-card">
                        <ul class="horizontal-list">
                            <li>
                                <i class="material-icons{{#perfil_profissional.avaliacao_star1}} active{{/perfil_profissional.avaliacao_star1}}">{{#perfil_profissional.avaliacao_star1_half}}
                                    star_half{{/perfil_profissional.avaliacao_star1_half}}{{^perfil_profissional.avaliacao_star1_half}}
                                    star{{/perfil_profissional.avaliacao_star1_half}}</i></li>
                            <li>
                                <i class="material-icons{{#perfil_profissional.avaliacao_star2}} active{{/perfil_profissional.avaliacao_star2}}">{{#perfil_profissional.avaliacao_star2_half}}
                                    star_half{{/perfil_profissional.avaliacao_star2_half}}{{^perfil_profissional.avaliacao_star2_half}}
                                    star{{/perfil_profissional.avaliacao_star2_half}}</i></li>
                            <li>
                                <i class="material-icons{{#perfil_profissional.avaliacao_star3}} active{{/perfil_profissional.avaliacao_star3}}">{{#perfil_profissional.avaliacao_star3_half}}
                                    star_half{{/perfil_profissional.avaliacao_star3_half}}{{^perfil_profissional.avaliacao_star3_half}}
                                    star{{/perfil_profissional.avaliacao_star3_half}}</i></li>
                            <li>
                                <i class="material-icons{{#perfil_profissional.avaliacao_star4}} active{{/perfil_profissional.avaliacao_star4}}">{{#perfil_profissional.avaliacao_star4_half}}
                                    star_half{{/perfil_profissional.avaliacao_star4_half}}{{^perfil_profissional.avaliacao_star4_half}}
                                    star{{/perfil_profissional.avaliacao_star4_half}}</i></li>
                            <li>
                                <i class="material-icons{{#perfil_profissional.avaliacao_star5}} active{{/perfil_profissional.avaliacao_star5}}">{{#perfil_profissional.avaliacao_star5_half}}
                                    star_half{{/perfil_profissional.avaliacao_star5_half}}{{^perfil_profissional.avaliacao_star5_half}}
                                    star{{/perfil_profissional.avaliacao_star5_half}}</i></li>
                            <li>{{perfil_profissional.avaliacao}}</li>
                        </ul>
                    </div>

                    <div class="pedido-concluido">

                        <div class="profissional-subtitulo">
                            <img src="{{perfil_profissional.categoriaImage}}" width="10" height="10"
                                 title="{{perfil_profissional.categoriaNome}}"
                                 alt="imagem da categoria {{perfil_profissional.categoriaNome}}"/>
                            {{perfil_profissional.categoriaNome}}
                        </div>

                        <div class="profissional-subtitulo pt-0">
                            <div class="point-draw"></div>
                        </div>

                        <div class="profissional-subtitulo">
                            {{distanciaKm}} de distância
                        </div>

                    </div>

                    <div class="perfil-profissional-notTouch float-left">

                        {{#perfil_profissional.haveSubcategorias}}
                            <div class="row">
                                <div class="col-12 mb-4 mt-2">
                                    <h5 class="titulo-endereco">serviços:</h5>
                                    <ul class="col pl-4">
                                        {{#perfil_profissional.subcategoriasData}}
                                            <li class="list-circle">{{nome}}</li>
                                        {{/perfil_profissional.subcategoriasData}}
                                    </ul>
                                </div>
                            </div>
                        {{/perfil_profissional.haveSubcategorias}}

                        <div class="row">
                            <div class="col-12 py-2">
                                <div class="endereco">{{perfil_profissional.sobre}}</div>
                            </div>
                        </div>

                        <div class="row">
                            <div id="galeria_preview_parent" class="my-3">
                                <div id="galeria_preview">
                                    {{#perfil_profissional.galeria}}
                                        <img src='{{urls.medium}}' alt='{{nome}}'/>
                                    {{/perfil_profissional.galeria}}
                                </div>
                            </div>
                        </div>

                        <div class="container py-2">
                            <div class="row horario-box">
                                <h6 class="col-12 mb-2 py-2 horario-title">Horário de trabalho</h6>
                                <div class="col-6">Início</div>
                                <div class="col-6">Término</div>
                                <div class="col-6">{{perfil_profissional.inicio}}</div>
                                <div class="col-6">{{perfil_profissional.termino}}</div>

                                <div class="col-12 horario-dias my-3">
                                    {{#perfil_profissional.dias}}
                                        <div class="float-left pr-3">{{.}}</div>
                                    {{/perfil_profissional.dias}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h5 class="titulo-endereco mb-3">Contato:</h5>
                                <p class="mb-3 float-left col-12 pl-0">
                                    <a href="message/{{usuarios_id}}">
                                        <i class="material-icons float-left pr-2">textsms</i>
                                        <span class="float-left">enviar mensagem</span>
                                    </a>
                                </p>
                                <p class="mb-3 float-left col-12 pl-0">
                                    <a data-preventDefault="1" class="contato" data-id="{{id}}" data-canal="whatsapp"
                                       href="whatsapp://send?phone=55{{perfil_profissional.whatsapp}}">
                                        <img src="{{home}}{{vendor}}site-maocheia/public/assets/img/whatsapp.png"
                                             width="24" height="24" alt="whatsapp" title="whatsapp"
                                             class="float-left theme" style="border-radius: 15px;margin-right: 7px"/>
                                        <span class="float-left">whatsapp</span>
                                    </a>
                                </p>
                                {{#perfil_profissional.telefone}}
                                    <p class="mb-3 float-left col-12 pl-0">
                                        <a data-preventDefault="1" class="contato" data-id="{{id}}"
                                           data-canal="telefone" href="tel:+55{{perfil_profissional.telefone}}">
                                            <i class="material-icons float-left pr-2">call</i>
                                            <span class="float-left">ligar para celular</span>
                                        </a>
                                    </p>
                                {{/perfil_profissional.telefone}}
                                {{#perfil_profissional.email}}
                                    <p class="float-left col-12 pl-0">
                                        <a data-preventDefault="1" class="contato" data-id="{{id}}" data-canal="email"
                                           href="mailto:{{perfil_profissional.email}}">
                                            <i class="material-icons float-left pr-2">email</i>
                                            <span class="float-left">mandar email</span>
                                        </a>
                                    </p>
                                {{/perfil_profissional.email}}
                                {{#perfil_profissional.site}}
                                    <p class="mb-3 float-left col-12 pl-0">
                                        <a href="{{perfil_profissional.site}}" class="contato" data-id="{{id}}"
                                           data-canal="site" target="_blank">
                                            <i class="material-icons float-left pr-2">language</i>
                                            <span class="float-left">acessar site</span>
                                        </a>
                                    </p>
                                {{/perfil_profissional.site}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="row">
            <div class="col-12">
                <h5 class="titulo-endereco">Endereço</h5>
                <div class="endereco">{{endereco}}</div>
            </div>
        </div>-->
            <div class="row">
                <div class="col-12 pb-4">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="titulo-endereco" id="section-avaliacoes-title">Nenhuma avaliação</h5>
                        </div>
                    </div>

                    <div id="section-avaliacoes"></div>

                    <div class="row hide" id="section-avaliacoes-more">
                        <div class="col-12">
                            <div class="todas-avaliacoes">
                                <a href="avaliacoes/{{id}}" data-animation="forward">Ver todas as avaliações</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>