{{#subcategorias}}
    <div class="item serviceAtuacao serviceCategory{{#selected}} selecionado{{/selected}}" rel="{{id}}">
        <figure>
            <img src="{{imagem.0.urls.thumb}}" alt="{{nome}}">
        </figure>
        <h4 class="servico">{{nome}}</h4>
    </div>
{{/subcategorias}}

<script>
</script>