<section id="cadastro-profissional">
    <div class="container">
        <div class="row">
            <a href="perfil" data-animation="back" class="col-12 volta">
                <i class="material-icons float-left pr-2">arrow_back</i>
                <h5 class="float-left py-3 mt-2" style="font-weight: 600">Editar contra Profissional</h5>
            </a>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group mb-2">
                    <div class="input-group-prepend">
                        <span>Imagem de perfil</span>
                    </div>
                    <div>
                        <input class="carregar-foto" id="imagem_de_perfil" accept="image/bmp, image/gig, image/jpg, image/jpeg, image/png" type="file">

                        <div class="Neon Neon-theme-dragdropbox">
                            <label for="imagem_de_perfil" class="bordas" id="imagem_de_perfil_preview">
                                <i class="material-icons">image</i>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group pt-3">
                    <label for="sobre" class="pb-1">Seu nome Profissional</label>
                    <input type="text" class="form-control" id="nome" rows="3" />
                </div>

                <div class="form-group pt-3">
                    <label for="sobre" class="pb-1">Descreva seu trabalho</label>
                    <textarea class="form-control" id="sobre" rows="3"></textarea>
                </div>

                <div class="form-group mb-3">
                    <div class="input-group-prepend">
                        <label class="pt-2">Suas imagens promocionais</label>
                    </div>
                    <div>
                        <input class="carregar-foto" id="galeria" accept="image/bmp, image/gig, image/jpg, image/jpeg, image/png" type="file" multiple>
                        <div class="Neon Neon-theme-dragdropbox">
                            <div class="bordas-galeria">
                                <div id="galeria_preview_parent">
                                    <div id="galeria_preview">
                                        <label for="galeria" class="material-icons">image</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group pt-3">
                    <label for="sobre" class="pb-1">Distância máxima de atendimento em KM</label>
                    <input type="number" min="0" max="10000000000" class="form-control" id="distancia" />
                </div>

                <!--<div class="col container mt-1 mb-0">
                    <div class="row">
                        <div class="form-group col-6 pl-0 pr-1">
                            <label for="whatsapp" class="pb-1">Whatsapp *</label>
                            <input type="number" class="form-control telefone tel" id="whatsapp" minlength="10" min="10" maxlength="15" max="14" required="required" />
                        </div>

                        <div class="form-group col-6 pl-1 pr-0">
                            <label for="telefone" class="pb-1">Telefone</label>
                            <input type="number" class="form-control telefone tel" id="telefone" minlength="10" min="10" maxlength="15" max="14" />
                        </div>
                    </div>
                </div>

                <div class="col container mt-0 mb-2">
                    <div class="row">
                        <div class="form-group col-6 mt-0 pl-0 pr-1">
                            <label for="email" class="pb-1">Email</label>
                            <input type="email" class="form-control email" id="email" maxlength="127" max="127">
                        </div>

                        <div class="form-group col-6 mt-0 pl-1 pr-0">
                            <label for="site" class="pb-1">Site</label>
                            <input type="url" class="form-control" id="site" pattern="^https?:\/\/\w+.\.+" maxlength="254" max="254">
                        </div>
                    </div>
                </div>-->

                <div class="row justify-content-center">
                    <div class="form-group col-12 col-lg-6 mb-4">
                        <button class="btn btn-primary" id="update-profissional">ATUALIZAR</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>