{{#avaliacoes}}
    <div class="row no-gutters">
        <div class="avaliacoes">
            <figure>
                <img src="{{imagem_do_cliente}}" alt="{{nome_do_cliente}}">
            </figure>
        </div>
        <div class="col-perfil">
            <div class="nomes">
                {{nome_do_cliente}}
            </div>
            <div class="data">
                {{data}}
            </div>
            <div class="estrelas">
                <div class="avaliacao-comment avaliacao-card">
                    <ul class="horizontal-list">
                        <li><i class="material-icons">star</i></li>
                        <li><i class="material-icons">star</i></li>
                        <li><i class="material-icons">star</i></li>
                        <li><i class="material-icons">star</i></li>
                        <li><i class="material-icons">star</i></li>
                        <li> 5</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12">
            <p class="texto">
                {{comentario}}
            </p>
        </div>
    </div>
{{/avaliacoes}}