<div class="texto">
    Você não tem nenhuma notificação
</div>
<div class="text-center">
    <figure>
        <img src="{{home}}{{vendor}}site-maocheia/public/assets/svg/artcaixavazia.svg"
             alt="nenhuma mensagem">
    </figure>
</div>