<a href="perfil_profissional_open" class="row borda-row">
    <div class="col-8 col-lg-8">
        <div class="titulo-h6">Configurações da conta Profissional</div>
        <div class="informacao-div">Abrir perfil profissional</div>
    </div>
    <div class="col-4 col-lg-4 mt-3 text-right">
        <i class="material-icons">business</i>
    </div>
</a>