<div class="avaliacao-perfil">
    <ul class="horizontal-list">
        <li>
            <i class="material-icons{{#avaliacao_star1}} active{{/avaliacao_star1}}">
                {{#avaliacao_star1}}
                    {{#avaliacao_star1_half}}star_half{{/avaliacao_star1_half}}
                    {{^avaliacao_star1_half}}star{{/avaliacao_star1_half}}
                {{/avaliacao_star1}}
                {{^avaliacao_star1}}star_outline{{/avaliacao_star1}}
            </i>
        </li>
        <li>
            <i class="material-icons{{#avaliacao_star2}} active{{/avaliacao_star2}}">
                {{#avaliacao_star2}}
                    {{#avaliacao_star2_half}}star_half{{/avaliacao_star2_half}}
                    {{^avaliacao_star2_half}}star{{/avaliacao_star2_half}}
                {{/avaliacao_star2}}
                {{^avaliacao_star2}}star_outline{{/avaliacao_star2}}
            </i>
        </li>
        <li>
            <i class="material-icons{{#avaliacao_star3}} active{{/avaliacao_star3}}">
                {{#avaliacao_star3}}
                    {{#avaliacao_star3_half}}star_half{{/avaliacao_star3_half}}
                    {{^avaliacao_star3_half}}star{{/avaliacao_star3_half}}
                {{/avaliacao_star3}}
                {{^avaliacao_star3}}star_outline{{/avaliacao_star3}}
            </i>
        </li>
        <li>
            <i class="material-icons{{#avaliacao_star4}} active{{/avaliacao_star4}}">
                {{#avaliacao_star4}}
                    {{#avaliacao_star4_half}}star_half{{/avaliacao_star4_half}}
                    {{^avaliacao_star4_half}}star{{/avaliacao_star4_half}}
                {{/avaliacao_star4}}
                {{^avaliacao_star4}}star_outline{{/avaliacao_star4}}
            </i>
        </li>
        <li>
            <i class="material-icons{{#avaliacao_star5}} active{{/avaliacao_star5}}">
                {{#avaliacao_star5}}
                    {{#avaliacao_star5_half}}star_half{{/avaliacao_star5_half}}
                    {{^avaliacao_star5_half}}star{{/avaliacao_star5_half}}
                {{/avaliacao_star5}}
                {{^avaliacao_star5}}star_outline{{/avaliacao_star5}}
            </i>
        </li>
        <li>{{avaliacao}}</li>
    </ul>
</div>