<div class="row" style="padding: 1px 15px;">
    <div class="col-12">
        <div class="grid">
            <div class="distancia" data-category="distancia">
                <div class="col-12 profissional" rel="{{id}}">
                    <div class="row">
                        <div class="col-3" style="padding: 0">
                            <div id="card-service-imagem"
                                 style="border-radius:5px;background-image: url('{{imagem.0.urls.100}}')"></div>
                        </div>
                        <div class="col-9" style="padding: 0 10px">
                            <div>
                                <h6 class="nome" style="margin-top: 3px;font-size: 24px">
                                    {{nome}}
                                </h6>
                            </div>
                            <div style="font-size:11px; color:#777777; padding: 5px">
                                {{descricao}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>