{{#.}}
    <div class="row no-gutters card-avaliacao">
        <div class="avaliacoes" style="background-image: url({{imagem_do_cliente}});"></div>
        <div class="col-perfil">
            <div class="nomes">
                {{nome_do_cliente}}
            </div>
            <div class="data">
                {{data}}
            </div>
            <div class="estrelas">
                <div class="avaliacao-comment avaliacao-card">
                    <ul class="horizontal-list">
                        <li><i class="material-icons{{#star.avaliacao_star1}} active{{/star.avaliacao_star1}}">star</i></li>
                        <li><i class="material-icons{{#star.avaliacao_star2}} active{{/star.avaliacao_star2}}">star</i></li>
                        <li><i class="material-icons{{#star.avaliacao_star3}} active{{/star.avaliacao_star3}}">star</i></li>
                        <li><i class="material-icons{{#star.avaliacao_star4}} active{{/star.avaliacao_star4}}">star</i></li>
                        <li><i class="material-icons{{#star.avaliacao_star5}} active{{/star.avaliacao_star5}}">star</i></li>
                        <li> {{avaliacao_geral}}</li>
                    </ul>
                </div>
            </div>
            <p class="texto">
                {{comentario}}
            </p>
        </div>
    </div>
{{/.}}