{{#categorias}}
    <div class="custom-control custom-checkbox col col-6">
        <input type="checkbox" {{#checked}} checked="checked"{{/checked}} class="subcategorias custom-control-input" id="{{id}}">
        <label class="custom-control-label pt-1" for="{{id}}">{{nome}}</label>
    </div>
{{/categorias}}